dotnet/resources/RomaniaRoleplay/RomaniaRoleplay/bin/*
dotnet/resources/RomaniaRoleplay/BusinessLogic/bin/*
dotnet/resources/RomaniaRoleplay/DataLayer/bin/*
dotnet/resources/RomaniaRoleplay/Domain/bin/*
dotnet/resources/RomaniaRoleplay/Helper/bin/*
dotnet/resources/RomaniaRoleplay/UcpRomaniaRoleplay/bin/*